@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #113946;
}
.contain {
  background: url("back3.jpg");
  /* filter: brightness(1.3); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 99;
  border-bottom: 1px solid #113946;
  background-image: linear-gradient(to top, #113946, 3%, transparent);
}
.logo2 {
  display: inline;
  width: 3.4em;
  height: fit-content;
  margin-bottom: -8px;
  filter: hue-rotate(180deg);
}

.app-name {
  display: inline;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 18pt;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-left: 0.5em;
  color: #113946;
}
.right {
  position: absolute;
  right: 1%;
  color: #bca37f;
}

.user {
  display: inline-block;
}
.user:hover {
  cursor: pointer;
}

.nav-menu {
  background-color: transparent;
  border-color: transparent;
  color: #bca37f;
  font-size: larger;
}

.logoClass:hover {
  cursor: pointer;
}
.logo {
  width: 100px;
  height: 100px;
  margin: 40px;
  position: relative;
  top: 35px;
  filter: hue-rotate(180deg);
}

/* KURS POJEDINACAN */
.courses-list {
  margin-bottom: 10%;
}
.card {
  background-color: #fff2d8;
  border: 2px solid #ead7bb;
  border-radius: 0.25rem;
}
.card-title {
  color: #113946;
}
.card-text {
  color: #bca37f;
}
.btn {
  background-color: #113946;
  border: 1px solid #bca37f;
  color: white;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.btn:hover {
  cursor: pointer;
  color: #113946;
  border: 1px solid #bca37f;
  background-color: #ead7bb;
}
.row {
  margin-bottom: 30px;
}

/*BTN IN COURSE CARD - changed bootstrap css */
.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none !important;
  background-color: #bca37f;
  color: #113946;
}

/*SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ead7bb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #bca37f;
  border: 1px solid #ead7bb;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff2d8;
  cursor: pointer;
  border: 1px solid #113946;
}

/*FOOTER*/
footer {
  position: absolute;
  bottom: 0;
  background-color: #113946dc;
  text-align: center;
  width: 100%;
  font-size: small;
  color: #bca37f;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

/*SCROLL BUTTON*/
.hidden {
  display: none;
}

#scrollBtn {
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 999;
  font-size: 22pt;
  border-radius: 50%;
  width: 3.5%;
  border: 1px solid #ead7bb;
  background-color: #113946a6;
  color: #ead7bb;
}

#scrollBtn:hover {
  color: #fff2d8;
  cursor: pointer;
}

/*MENI SA STRANE*/
.user,
.nav-menu {
  transition: all 300ms;
}

.user:hover,
.nav-menu:hover {
  cursor: pointer;
  color: #fff2d8;
}

.show-menu {
  display: none;
}

.right-menu {
  position: fixed;
  right: 0;
  z-index: 21;
  background-color: #11394695;
  backdrop-filter: blur(7px);
  height: 100%;
  width: auto;
  top: 0;
  color: #ead7bb;
  text-align: left;
  padding: 5%;
}

.right-menu p {
  transition: all 400ms;
}

.right-menu p:hover {
  font-size: large;
  text-decoration: underline;
  text-shadow: 10vh;
  cursor: pointer;
  color: #fff2d8;
}
