@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
body {
  background: url("back3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #113946;

  overflow-x: hidden;
}
.contain {
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: 5%;
}

.nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 99;
  border-bottom: 1px solid #113946;
  background-image: linear-gradient(to top, #113946, 3%, transparent);
}
.logo2 {
  display: inline;
  width: 3.4em;
  height: fit-content;
  margin-bottom: -8px;
  filter: hue-rotate(180deg);
}

.app-name {
  display: inline;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 18pt;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-left: 0.5em;
  color: #113946;
}
.right {
  position: absolute;
  right: 1%;
  color: #bca37f;
}
.right > div {
  display: inline;
}
.user {
  display: inline-block;
}
.user:hover {
  cursor: pointer;
}

.nav-menu {
  background-color: transparent;
  border-color: transparent;
  color: #bca37f;
  font-size: larger;
}

.logoClass:hover {
  cursor: pointer;
}
.logo {
  width: 100px;
  height: 100px;
  margin: 40px;
  position: relative;
  top: 35px;
  filter: hue-rotate(180deg);
}

.showbtn {
  display: none;
}

/* KURS POJEDINACAN */
.courses-list {
  padding: 5%;
  margin-bottom: 7%;
  box-sizing: border-box;
}
.card {
  width: 100%;
  background-color: #fff2d88c;
  border: 2px solid #f9dbae;
  border-radius: 0.25rem;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.card-title {
  color: #113946;
}
.card-text {
  color: #bca37f;
}
.btn {
  background-color: #113946;
  border: 1px solid #bca37f;
  color: white;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.btn:hover {
  cursor: pointer;
  color: #113946;
  border: 1px solid #bca37f;
  background-color: #ead7bb;
}
.row {
  margin-bottom: 30px;
}

/*BTN IN COURSE CARD - changed bootstrap css */
.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none !important;
  background-color: #bca37f;
  color: #113946;
}

/*SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ead7bb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #bca37f;
  border: 1px solid #ead7bb;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff2d8;
  cursor: pointer;
  border: 1px solid #113946;
}

/*FOOTER*/
footer {
  position: absolute;
  bottom: 0;
  background-color: #113946dc;
  text-align: center;
  width: 100%;
  font-size: small;
  color: #bca37f;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

/*SCROLL BUTTON*/
.hidden {
  display: none;
}

#scrollBtn {
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 999;
  font-size: 22pt;
  border-radius: 50%;
  width: 3.5%;
  border: 1px solid #ead7bb;
  background-color: #113946a6;
  color: #ead7bb;
}

#scrollBtn:hover {
  color: #fff2d8;
  cursor: pointer;
}

/*MENI SA STRANE*/
.user,
.nav-menu,
.logout {
  transition: all 300ms;
}

.user:hover,
.nav-menu:hover,
.logout:hover {
  cursor: pointer;
  color: #fff2d8;
}

.show-menu {
  display: none;
}

.right-menu {
  position: fixed;
  right: 0;
  z-index: 21;
  background-color: #11394695;
  backdrop-filter: blur(7px);
  height: 100vh;
  width: 15%;
  top: 0%;
  color: #ead7bb;
  text-align: left;
  /* padding-left: 3%;
  padding-top: 5%; */
  padding: 5% 3%;
  bottom: 0;
  box-sizing: border-box;
}

.right-menu p {
  transition: all 400ms;
  margin: 16px 0;
}

.right-menu p:hover {
  font-size: large;
  text-decoration: none;
  text-shadow: 10vh;
  cursor: pointer;
  color: #fff2d8;
}

/*dio za responsive website*/
/* Stilovi za mobilne uređaje */
/* Stilovi za mobilne uređaje */
@media (max-width: 768px) {
  /* .right {
    position: static;
    margin-top: 10px;
  } */

  .nav-menu {
    font-size: initial;
    padding: 5px 10px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .app-name {
    font-size: 16pt;
  }

  .logo {
    width: 80px;
    height: 80px;
    margin: 10px;
  }

  .right-menu {
    width: 100%;
    padding: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-menu p {
    font-size: 16px;
  }

  .courses-list {
    padding: 2%;
    margin-bottom: 7%;
  }

  .card {
    margin-bottom: 20px;
  }

  ::selection {
    background-color: #bca37f;
    color: #113946;
  }
}

.card-title:hover {
  cursor: pointer;
}

.topdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.item {
  display: inline-block;
  /* background-color: #ead7bb; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-image: url("brightbl.jpg");
  background-size: 100% 150%;
  background-position: center;
  /* height: 200pt; */
  /* width: 300pt; */
  width: 100%;
  height: 100%;
  /* margin-right: 5%; */
  /* margin-top: 3%; */
  /* margin-bottom: 3%; */
  margin: 0;
  position: relative;
  /* display: flex;
  flex-direction: column;
  */
  grid-row: 1;
  border-radius: 15pt;
  /* z-index: 500; */
  box-sizing: border-box;

  padding: 10px;
}
.item:hover {
  animation: scaling 0.8s ease-in-out both;
}

.notapproved {
  background-image: url(brightblgrayscale.png);
  /* background-color: #638c8f89; */
  border: 2px solid black;
}

.item h5 {
  background-color: #ead7bb44;
  backdrop-filter: blur(10px);
  border-radius: 15pt;
  line-height: 150%;
  padding: 5px 10px;
  font-size: larger;
}
.popularCourse {
  border-radius: 15pt;
  width: 35%;
  background-color: #113946a2;
  border: 1px solid #113946a2;
  color: #fff2d8;
  padding: 5px 0;
  position: absolute;
  bottom: 10pt;
}
.popularCourse:hover {
  cursor: pointer;
  background-color: #19495973;
}

.addcourse1 {
  border-radius: 15pt;
  width: 20%;
  background-color: #113946a2;
  border: 1px solid #113946a2;
  color: #fff2d8;
  padding: 5px 0;
}
.addcourse1:hover {
  cursor: pointer;
  background-color: #19495973;
}

.col-sm-6 {
  position: relative;
  width: 85%;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 300px;
}

/*MODAL ZA POTVRDU UPISA*/
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content1 {
  background-color: #f9dbaecb;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 24px;
  border: 1px solid #bca37f;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 200px;
  border-radius: 15pt;
}

/* The Close Button */
.close1 {
  color: #113946;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popularCourse1 {
  border-radius: 15pt;
  width: 25%;
  background-color: #113946a2;
  border: 1px solid #113946a2;
  color: #fff2d8;
  padding: 5px 0;
  bottom: 10pt;
}
.popularCourse1:hover {
  cursor: pointer;
  background-color: #19495973;
}

::selection {
  background-color: #bca37f;
  color: #113946;
}

.authButton {
  position: static;
  width: 200px;
}
.authButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 7%;
  /* place-items: center; */
}

.modal-content {
  background-color: #fefefebe;
  margin: auto;

  /* padding: 20px; */
  border: 1px solid #888;
  height: auto;
  width: 50%;
  border-radius: 25pt;
  backdrop-filter: blur(10px);
}

.modal-header1 {
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  background-color: #113946a2;
  border-radius: 25pt;
  text-align: center;
}

.modal-title {
  margin-bottom: 0;
}

.modal-body {
  background-color: transparent;
  text-align: center;
  padding: 1rem;
}

.modal-footer {
  /* backdrop-filter: blur(10px); */

  padding: 1rem;
  border-top: 1px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border-radius: 0 0 25pt 25pt;
}

.btnn-primary {
  background-color: #113946a2;
  border: 1px solid #113946a2;
  color: #fff2d8;
}
.btnn-secondary {
  background-color: #bca37f96;
  border: 1px solid #bca37f96;
  color: #113946;
}
.btnn-primary,
.btnn-secondary {
  border-radius: 15pt;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  width: 25%;
}

.btnn-primary:focus,
.btnn-primary.focus {
  box-shadow: none !important;
  background-color: #bca37f;
  color: #113946;
}
.btn-close:hover,
.btn-savee:hover {
  cursor: pointer;
}

/* ELEMENTI U MODALU */
.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.star {
  font-size: 2em;
  color: #ccc;
}

.star.filled {
  color: #f39c12;
}
.starr,
.staar {
  font-size: 2em;
  color: #ccc;
}

.starr.filled,
.staar.filled {
  color: #f39c12;
}

.category {
  color: #113946;
}
.price {
  color: #1139468a;
}
.markk {
  color: #f39c12;
}
.modalbodytop {
  border-bottom: 1px dotted #113946;
}
.modalbodybottom {
  margin-top: 5pt;
  border-radius: 15pt;
  padding: 7px;
  border: 1px solid #113946;
}
.modalbodybody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 7pt;
}

#modalHeader {
  background-size: 100% 250%;
  background-position: center;
}
