@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #113946;
}
.contain {
  background: url("back3.jpg");
  /* filter: brightness(1.3); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  /* height: 100vh; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 99;
  border-bottom: 1px solid #113946;
  background-image: linear-gradient(to top, #113946, 3%, transparent);
}
.logo2 {
  display: inline;
  width: 3.4em;
  height: fit-content;
  margin-bottom: -8px;
  filter: hue-rotate(180deg);
}

.app-name {
  display: inline;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 18pt;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-left: 0.5em;
  color: #113946;
}
.right {
  position: absolute;
  right: 1%;
  color: #bca37f;
}

.user {
  display: inline-block;
}
.user:hover {
  cursor: pointer;
}

.nav-menu {
  background-color: transparent;
  border-color: transparent;
  color: #bca37f;
  font-size: larger;
}

.logoClass:hover {
  cursor: pointer;
}
.logo {
  width: 100px;
  height: 100px;
  margin: 40px;
  position: relative;
  top: 35px;
  filter: hue-rotate(180deg);
}

/* KURS POJEDINACAN */
.card {
  background-color: #fff2d8;
  border: 2px solid #ead7bb;
  border-radius: 0.25rem;
}
.card-title {
  color: #113946;
}
.card-text {
  color: #bca37f;
}
.btn {
  background-color: #113946;
  border: 1px solid #bca37f;
  color: white;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.btn:hover {
  cursor: pointer;
  color: #113946;
  border: 1px solid #bca37f;
  background-color: #ead7bb;
}
.row {
  margin-bottom: 30px;
}

/*BTN IN COURSE CARD - changed bootstrap css */
.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none !important;
  background-color: #bca37f;
  color: #113946;
}
