@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #113946;
}
.contain {
  background: url("back3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  /* height: 100vh; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 99;
  border-bottom: 1px solid #113946;
  background-image: linear-gradient(to top, #113946, 3%, transparent);
}
.logo2 {
  display: inline;
  width: 3.4em;
  height: fit-content;
  margin-bottom: -8px;
  filter: hue-rotate(-180deg);
}

.app-name {
  display: inline;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 18pt;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-left: 0.5em;
  color: #113946;
}
.right {
  position: absolute;
  right: 1%;
  color: #bca37f;
}

.user {
  display: inline-block;
}
.user:hover {
  cursor: pointer;
}

.nav-menu {
  background-color: transparent;
  border-color: transparent;
  color: #bca37f;
  font-size: larger;
}

/* USER  */
.user-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 60vh;
  padding-left: 4%;
}
/*FIXME
POPRAVITI MARGINE I PADDING, NESTO NE VALJA
*/

aside.left {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-content: flex-start; */
  background-color: #fff2d837;
  backdrop-filter: blur(5px);
  border-radius: 16px;
  border: 1px solid #113946;
  margin-left: 10px;
  box-sizing: border-box;
}
.user-photo {
  width: 250px;
  height: 250px;
}
aside.rright {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff2d837;
  backdrop-filter: blur(5px);
  border-radius: 16px;
  border: 1px solid #113946;
  /* margin-left: 10px; */
  box-sizing: border-box;
  color: #113946;
}

.user:hover,
.nav-menu:hover {
  cursor: pointer;
  color: #fff2d8;
}

.show-menu {
  display: none;
}

.right-menu {
  position: fixed;
  right: 0;
  z-index: 21;
  background-color: #11394695;
  backdrop-filter: blur(7px);
  height: 100vh;
  width: 12%;
  top: 0%;
  padding-top: 5%;
  color: #ead7bb;
  text-align: left;
  padding-left: 3%;
}

.right-menu p {
  transition: all 400ms;
}

.right-menu p:hover {
  font-size: large;
  text-decoration: underline;
  text-shadow: 10vh;
  cursor: pointer;
  color: #fff2d8;
}

.profileMenu {
  width: 15%;
}
