@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

/*
od tamnije ka svjetlijim
font: #113946   
BCA37F
EAD7BB
FFF2D8


*/

body {
  background-image: url(back3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #113946;
}

* {
  font-family: "Poppins", sans-serif;
}

.nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 99;
  border-bottom: 1px solid #113946;
  background-image: linear-gradient(to top, #113946, 3%, transparent);
}

.logo {
  display: inline;
  width: 3.4em;
  height: fit-content;
  margin-bottom: -8px;
  filter: hue-rotate(-180deg);
}

p.name {
  display: inline;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 18pt;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-left: 0.5em;
  color: #113946;
}

.logo-hover:hover {
  cursor: pointer;
}

.right {
  position: absolute;
  right: 1%;
  color: #bca37f;
}
.right > div {
  display: inline;
}

.user {
  display: inline-block;
}

.nav-menu {
  background-color: transparent;
  border-color: transparent;
  color: #bca37f;
  font-size: larger;
}

.content {
  /* margin-top: 5%; */
  text-align: center;
  position: relative;
  width: 100%;
}

.dropdown-header {
  padding: 1.1% 0;
  cursor: pointer;
  display: inline-block;
  text-align: left;
  transition: all 500ms;
  position: relative;
  z-index: 2;
  background-color: #113946;
  height: 100%;
  border: 1px solid #bca37f;
  color: #ead7bb;
  width: 28%;
  border-radius: 23px;
  text-align: center;
  box-sizing: border-box;
}

.dropdown-list {
  display: none;
  position: absolute;

  background-color: transparent;
  list-style-type: none;
  width: 28%;
  z-index: 50;
  margin: 0;
  padding: 0;
}

.dropdown-list li {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

.dropdown-list li:hover {
  cursor: pointer;
  background-color: #113946;
  border: transparent;
  border-radius: 23px;
  color: #ead7bb;
}

.show-list {
  display: block;
}

.dropdown-list,
.search-bar {
  background-color: #ead7bb;

  border-radius: 23px;
  text-align: center;
  color: #113946;
}

.dropdown-header:hover {
  background-color: #ead7bb;
  color: #113946;
  border: 1px solid #113946;
}

.span-arrow-down {
  transition: transform 0.4s ease-in-out; /* Tranzicija transformacije */
  display: inline-block;
}

.rotate-up {
  transform: rotate(-180deg); /* Ugao rotacije za strelicu prema gore */
}

.custom-dropdown {
  background-color: transparent;
  border-radius: 23px;
  width: 60%;
  margin: auto;
  display: inline-block;
  text-align: justify;
  position: relative;
  height: 20%;
  z-index: 40;
  margin-top: 5rem;
}

.search-bar {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding-left: 1%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  vertical-align: middle;
  box-sizing: border-box;
  height: 100%;
}

.input-search,
.btn-search {
  background-color: transparent;
  border: transparent;
  color: #113946;
  padding: 0.9% 0;
  margin: 0;
  font-size: 16px;
  height: 100%;
  box-sizing: border-box;
}

.input-search {
  width: 62.5%;
  margin-left: 30%;
  outline: none;
}

.btn-search:hover {
  cursor: pointer;
  background-color: #113946;
  border: transparent;
  color: rgb(224, 202, 195);
  border-radius: 24px;
  height: 100%;
}

.btn-search {
  position: absolute;
  right: 0;
  padding: 0 1%;
  transition: all 500ms;
}

/*------------MOST POPULAR---------------*/

.most-popular {
  flex: 1;
  margin-top: 4%;
  text-align: center;
  padding-top: 2%;
  background-color: #fff2d837;
  backdrop-filter: blur(2px);
  position: relative;
  z-index: 20;
  border-top: 1px solid #ead7bb;
  border-bottom: 1px solid #ead7bb;
  margin-bottom: 5%;
}

.most-popular h2 {
  color: #113946;
  width: 35%;
  margin: auto;
  border-radius: 23px;
  border: transparent;
  margin-bottom: 1%;
  margin-top: 1%;
}

.container {
  position: relative;
}

.scroll-elements {
  white-space: nowrap;
  overflow-x: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.buttons {
  padding: 0;
  /* margin-top: 3%;
  text-align: left; */
  color: #ead7bb;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 55%;
}

.btn {
  background-color: #113946a3;
  padding: 20px;
  border-radius: 23px;
  display: inline;
  transition: all 300ms;
  position: absolute;
}

.left {
  left: 1%;
}

.rightt {
  right: 1%;
}

.btn:hover {
  cursor: pointer;
  padding: 22px;
  border: 1px solid #113946;
  color: #113946;
  margin-top: -1%;
  font-size: large;
  background-color: #11394636;
}

.item {
  display: inline-block;
  background-color: #ead7bb;
  height: 150px;
  width: 28%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
}

.mark {
  position: absolute;
  left: 1rem;
  top: 0;
  padding: 0 0.4rem;
  border: 1px dotted #113946;
  border-radius: 15pt;
}
/*---------------REVIEWS-----------------*/

.student-reviews {
  text-align: center;
  padding-top: 2%;
  background-color: #fff2d837;
  backdrop-filter: blur(2px);
  position: relative;
  z-index: 20;
  border-top: 1px solid #ead7bb;
  border-bottom: 1px solid #ead7bb;
  width: 100%;
  color: #113946;
  margin-bottom: 10%;
  text-align: center;
  position: relative;
}

.review {
  height: fit-content;
}

.card {
  border: 1px solid #ead7bb;
  width: 25%;
  margin-left: 3%;
  margin-bottom: 3%;
  display: inline-block;
  margin-right: 3%;
  box-shadow: 2px 2px 10px 2px #113946;
}

.card-body {
  position: relative;
  background-color: #ead7bb;
  border: 2px solid #113946;
}

.card-title {
  margin: 0;
}

.card-header {
  background-color: #113946;
  color: rgb(224, 202, 195);
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-weight: bold;
}

.quote {
  position: absolute;
  font-size: 30pt;
  font-weight: bold;
}

.quote:not(:last-child) {
  left: 4%;
  top: 25%;
}

.quote:last-child {
  right: 4%;
  bottom: -12%;
}

.card-title {
  border-bottom: 2px solid #113946;
  padding: 10px 0;
  color: gray;
  font-size: larger;
}

.card-text {
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
}

/*---------------PROFILE-----------------*/

.user,
.nav-menu,
.logout {
  transition: all 300ms;
}

.user:hover,
.nav-menu:hover,
.logout:hover {
  cursor: pointer;
  color: #fff2d8;
}

.show-menu {
  display: none;
}

.right-menu {
  position: fixed;
  right: 0;
  z-index: 21;
  background-color: #11394695;
  backdrop-filter: blur(7px);
  height: 100vh;
  width: 15%;
  top: 0%;
  /* padding-top: 5%; */
  color: #ead7bb;
  text-align: left;
  /* padding-left: 3%; */
  bottom: 0;
  box-sizing: border-box;
  padding: 5% 3%;
}

.right-menu p {
  transition: all 400ms;
  margin: 16px 0;
}

.right-menu p:hover {
  font-size: large;
  text-decoration: none;
  text-shadow: 10vh;
  cursor: pointer;
  color: #fff2d8;
}

/*------------------------FOOTER------------------------*/

footer {
  position: absolute;
  bottom: 0;
  background-color: #113946dc;
  text-align: center;
  width: 100%;
  font-size: small;
  color: #bca37f;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.hidden {
  display: none;
}

#scrollBtn {
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 999;
  font-size: 22pt;
  border-radius: 50%;
  width: 3rem;
  border: 1px solid #ead7bb;
  background-color: #113946a6;
  color: #ead7bb;
}

#scrollBtn:hover {
  color: #fff2d8;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ead7bb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #bca37f;
  border: 1px solid #ead7bb;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff2d8;
  cursor: pointer;
  border: 1px solid #113946;
}

/*----------------PRIKAZ KURSA ------------------*/
.course {
  background-color: #fff2d837;
  backdrop-filter: blur(2px);
  border-top: 1px solid #ead7bb;
  border-bottom: 1px solid #ead7bb;
  width: 100%;
  margin: 0;
  margin-top: 5rem;
  height: 550px;
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.course-content {
  display: inline-block;
  width: 70%;
  background-color: transparent;
  height: 100%;
  box-sizing: border-box;
}

.course-weeks {
  display: inline-block;
  width: 27%;
  top: 0;
  padding: 0;
  background-color: transparent;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.week {
  margin-bottom: 1%;
}

.week button {
  display: block;
  width: 100%;
  background-color: #bca37f96;
  color: #113946;
  margin-top: 1%;
  border: 1px solid transparent;
  border-radius: 10pt;
}

.week button:hover {
  background-color: #ead7bb;
  color: #113946;
  border: 1px solid #113946;
  cursor: pointer;
}

.button-week {
  font-size: large;
  font-weight: bold;
  padding: 2%;
}

.lesson {
  padding: 2%;
  width: 100%;
  background-color: #bca37f96;
  color: #113946;
  margin-top: 1%;
  border: 1px solid transparent;
  border-radius: 10pt;
}

.btnX {
  color: #113946;
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 300ms;
  padding: 2px 8px;
  font-size: larger;
}

.btnX:hover {
  background-color: #ead7bb;
  color: #113946;
  border: 1px solid #113946;
  border-radius: 15pt;
  cursor: pointer;
}

.weekCourse1 {
  position: relative;
}

.card-title:hover {
  cursor: pointer;
  color: #ead7bb;
}

.course-description {
  text-align: left;
  width: 100%;
  padding-left: 5rem;
}

#myVideo {
  width: 100%; /* Puno zauzimanje širine div-a */
  height: 100%; /* Automatsko prilagođavanje visine proporcionalno širini */
}

.materialText {
  display: flex;
  color: #113946;
  text-align: center;
  font-size: 25pt;
  height: 100%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

::selection {
  background-color: #bca37f;
  color: #113946;
}

.popularCourse {
  border: 1px solid #113946;
  background-color: transparent;
  color: #113946;
  border-radius: 15pt;
}

.popularCourse:hover {
  cursor: pointer;
  background-color: #fff2d8;
}

.moreFilter {
  background-color: #ead7bb;
  border: 1px solid transparent;
  border-radius: 15pt;
  padding: 0.2rem;
  font-size: 15pt;
  font-weight: bold;
  position: relative;
}

.moreFilter:hover {
  border: 1px solid transparent;
  border-radius: 15pt;
  padding: 0.2rem;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* padding: 20px; */
  border: 1px solid #888;
  width: 50%;
  border-radius: 25pt;
}

.modal-header {
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  background-color: #113946a2;
  border-radius: 25pt;
  text-align: center;
}

.modal-title {
  margin-bottom: 0;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border-radius: 0 0 25pt 25pt;
}

.btnn-primary {
  background-color: #113946a2;
  border: 1px solid #113946a2;
  color: #fff2d8;
}
.btnn-secondary {
  background-color: #bca37f96;
  border: 1px solid #bca37f96;
  color: #113946;
}
.btnn-primary,
.btnn-secondary {
  border-radius: 15pt;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  width: 25%;
}

.btnn-primary:focus,
.btnn-primary.focus {
  box-shadow: none !important;
  background-color: #bca37f;
  color: #113946;
}
