@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

/*
od tamnije ka svjetlijim
font: #113946   
BCA37F
EAD7BB
FFF2D8


*/

body {
  background-image: url(back3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #113946;
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
}

.nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 99;
  border-bottom: 1px solid #113946;
  background-image: linear-gradient(to top, #113946, 3%, transparent);
}

.logo {
  display: inline;
  width: 3.4em;
  height: fit-content;
  margin-bottom: -8px;
  filter: hue-rotate(-180deg);
}

p.name {
  display: inline;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 18pt;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-left: 0.5em;
  color: #113946;
}

.logo-hover:hover {
  cursor: pointer;
}

.right {
  position: absolute;
  right: 1%;
  color: #bca37f;
}
.right > div {
  display: inline;
}

.user {
  display: inline-block;
}

.nav-menu {
  background-color: transparent;
  border-color: transparent;
  color: #bca37f;
  font-size: larger;
}

.content {
  /* margin-top: 5%; */
  text-align: center;
  position: relative;
  width: 100%;
}

.dropdown-header {
  padding: 1.1% 0;
  cursor: pointer;
  display: inline-block;
  text-align: left;
  transition: all 500ms;
  position: relative;
  z-index: 2;
  background-color: #113946;
  height: 100%;
  border: 1px solid #bca37f;
  color: #ead7bb;
  width: 28%;
  border-radius: 23px;
  text-align: center;
  box-sizing: border-box;
}

.dropdown-list {
  display: none;
  position: absolute;

  background-color: transparent;
  list-style-type: none;
  width: 28%;
  z-index: 50;
  margin: 0;
  padding: 0;
}

.dropdown-list li {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

.dropdown-list li:hover {
  cursor: pointer;
  background-color: #113946;
  border: transparent;
  border-radius: 23px;
  color: #ead7bb;
}

.show-list {
  display: block;
}

.dropdown-list,
.search-bar {
  background-color: #ead7bbb8;

  border-radius: 23px;
  text-align: center;
  color: #113946;
}

.dropdown-header:hover {
  background-color: #ead7bb;
  color: #113946;
  border: 1px solid #113946;
}

.span-arrow-down {
  transition: transform 0.4s ease-in-out; /* Tranzicija transformacije */
  display: inline-block;
}

.rotate-up {
  transform: rotate(-180deg); /* Ugao rotacije za strelicu prema gore */
}

.custom-dropdown {
  background-color: transparent;
  border-radius: 23px;
  width: 60%;
  margin: auto;
  display: inline-block;
  text-align: justify;
  position: relative;
  height: 20%;
  z-index: 40;
  margin-top: 5rem;
}

.search-bar {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding-left: 1%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  vertical-align: middle;
  box-sizing: border-box;
  height: 100%;
}

.input-search,
.btn-search {
  background-color: transparent;
  border: transparent;
  color: #113946;
  padding: 0.9% 0;
  margin: 0;
  font-size: 16px;
  height: 100%;
  box-sizing: border-box;
}

.input-search {
  width: 62.5%;
  margin-left: 30%;
  outline: none;
}

.btn-search:hover {
  cursor: pointer;
  background-color: #113946;
  border: transparent;
  color: rgb(224, 202, 195);
  border-radius: 24px;
  height: 100%;
}

.btn-search {
  position: absolute;
  right: 0;
  padding: 0 1%;
  /* transition: all 500ms; */
}

/*------------MOST POPULAR---------------*/

.most-popular {
  flex: 1;
  margin-top: 4%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
  box-sizing: border-box;
  background-color: #fff2d837;
  backdrop-filter: blur(2px);
  position: relative;
  z-index: 20;
  border-top: 1px solid #ead7bb;
  border-bottom: 1px solid #ead7bb;
  margin-bottom: 5%;
}

.most-popular h2 {
  color: #113946;
  width: 35%;
  margin: auto;
  border-radius: 23px;
  border: transparent;
  margin-bottom: 1%;
  margin-top: 1%;
}

.container {
  position: relative;
}

.scroll-elements {
  white-space: nowrap;
  overflow-x: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  /* display: inline; */
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 1fr;
  gap: 50px; /* Postavljanje željenog razmaka između elemenata */
  /* justify-content: start; */
  box-sizing: border-box;
  padding: 10px;
  place-items: center;
  justify-content: space-evenly;
}
.buttons {
  padding: 0;
  /* margin-top: 3%;
  text-align: left; */
  color: #ead7bb;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 45%;
}
.item h4 {
  background-color: #ead7bb44;
  backdrop-filter: blur(10px);
  border-radius: 15pt;
  line-height: 150%;
  padding: 5px 10px;
  font-size: larger;
}

.btn {
  background-color: #113946a3;
  padding: 20px;
  border-radius: 23px;
  display: inline;
  transition: all 300ms;
  position: absolute;
}

.left {
  left: 1%;
  /* top: 50%; */
}

.rightt {
  right: 1%;
  /* top: 50%; */
}

.btn:hover {
  cursor: pointer;
  padding: 22px;
  border: 1px solid #113946;
  color: #113946;
  margin-top: -1%;
  font-size: large;
  background-color: #11394636;
}
@keyframes scaling {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.item {
  display: inline-block;
  /* background-color: #ead7bb; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-image: url("science-eng.jpg"); */
  background-size: 100% 150%;
  background-position: center;
  height: 200pt;
  width: 300pt;
  /* margin-right: 5%; */
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
  /* display: flex;
  flex-direction: column;
  */
  grid-row: 1;
  border-radius: 15pt;
  z-index: 500;
}

.item1 {
  display: inline-block;
  /* background-color: #ead7bb; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("science-eng.jpg"); */
  background-size: cover;
  height: 200pt;
  width: 300pt;
  /* margin-right: 5%; */
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
  /* display: flex;
  flex-direction: column;
  */
  grid-row: 1;
  border-radius: 15pt;
  z-index: 500;
}

.item1:hover {
  animation: scaling 0.8s ease-in-out both;
}

.item:hover {
  animation: scaling 0.8s ease-in-out both;
}

.mark {
  position: absolute;
  left: 1rem;
  top: 0;
  padding: 0 0.4rem;
  border: 1px dotted #113946;
  border-radius: 15pt;
  background-color: #ead7bb44;
  font-size: larger;
}
/*---------------REVIEWS-----------------*/

.student-reviews {
  text-align: center;
  padding-top: 2%;
  background-color: #fff2d837;
  backdrop-filter: blur(2px);
  position: relative;
  z-index: 20;
  border-top: 1px solid #ead7bb;
  border-bottom: 1px solid #ead7bb;
  width: 100%;
  color: #113946;
  margin-bottom: 10%;
  text-align: center;
  position: relative;
}

.review {
  height: fit-content;
}

.card {
  border: 1px solid #ead7bb;
  width: 25%;
  margin: 3%;
  display: inline-block;
  box-shadow: 2px 2px 10px 2px #113946;
  height: 100%;
  box-sizing: border-box;
  border-radius: 15pt;
}

.card-body {
  position: relative;
  background-color: #ead7bb92;
  border: 2px solid #113946;
  border-radius: 0 0 15pt 15pt;
}

.card-title {
  margin: 0;
}

.card-header {
  background-color: #113946e2;
  color: rgb(224, 202, 195);
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-weight: bold;
  border-radius: 15pt 15pt 0 0;
}

.quote {
  position: absolute;
  font-size: 30pt;
  font-weight: bold;
}

.quote:not(:last-child) {
  left: 4%;
  /* top: 25%; */
}

.quote:last-child {
  right: 4%;
  bottom: -12%;
}

.card-title {
  border-bottom: 2px solid #0b2932;
  padding: 10px 0;
  color: gray;
  font-size: larger;
}

.card-text {
  height: 70px;
  vertical-align: middle;
}

/*-------------------review cards for one course-------------------*/
.carousel {
  width: 100%;
  /* box-sizing: border-box; */
}
.cardReview {
  border: 1px solid #113946;
  width: 100%;
  /* margin: 3%; */
  display: inline-block;
  /* box-shadow: 2px 2px 10px 2px #113946; */
  height: 100%;
  box-sizing: border-box;
  border-radius: 15pt;
}
.cardReview-body {
  position: relative;
  background-color: #ead7bb92;
  border: 2px solid #113946aa;
  border-radius: 0 0 15pt 15pt;
}

.cardReview-title {
  margin: 0;
}

.cardReview-header {
  background-color: #113946aa;
  color: rgb(224, 202, 195);
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-weight: bold;
  border-radius: 15pt 15pt 0 0;
  text-align: center;
}

.quoteR {
  position: absolute;
  font-size: 30pt;
  font-weight: bold;
}

.quoteR:not(:last-child) {
  left: 4%;
  /* top: 25%; */
}

.quoteR:last-child {
  right: 4%;
  bottom: -12%;
}

.cardReview-title {
  border-bottom: 2px solid #0b2932;
  padding: 10px 0;
  color: gray;
  font-size: larger;
  text-align: center;
}

.cardReview-text {
  margin: 5% 0;
  height: 70px;
  vertical-align: middle;
  padding: 0 10%;
  text-align: center;
}

/*---------------PROFILE-----------------*/

.user,
.nav-menu,
.logout {
  transition: all 300ms;
}

.user:hover,
.nav-menu:hover,
.logout:hover {
  cursor: pointer;
  color: #fff2d8;
}

.show-menu {
  display: none;
}

.right-menu {
  position: fixed;
  right: 0;
  z-index: 21;
  background-color: #11394695;
  backdrop-filter: blur(7px);
  height: 100vh;
  width: 20%;
  top: 0%;
  /* padding-top: 5%; */
  color: #ead7bb;
  text-align: left;
  /* padding-left: 3%; */
  bottom: 0;
  box-sizing: border-box;
  padding: 5% 3%;
}

.right-menu p {
  transition: all 400ms;
  margin: 16px 0;
}

.right-menu p:hover {
  font-size: large;
  text-decoration: none;
  text-shadow: 10vh;
  cursor: pointer;
  color: #fff2d8;
}

/*------------------------FOOTER------------------------*/

footer {
  position: absolute;
  bottom: 0;
  background-color: #113946dc;
  text-align: center;
  width: 100%;
  font-size: small;
  color: #bca37f;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.hidden {
  display: none;
}

#scrollBtn {
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 999;
  font-size: 22pt;
  border-radius: 50%;
  width: 3rem;
  border: 1px solid #ead7bb;
  background-color: #113946a6;
  color: #ead7bb;
}

#scrollBtn:hover {
  color: #fff2d8;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ead7bb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #bca37f;
  border: 1px solid #ead7bb;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff2d8;
  cursor: pointer;
  border: 1px solid #113946;
}

/*----------------PRIKAZ KURSA ------------------*/
.course {
  background-color: #fff2d837;
  backdrop-filter: blur(2px);
  border-top: 1px solid #ead7bb;
  border-bottom: 1px solid #ead7bb;
  width: 100%;
  margin: 0;
  margin-top: 5rem;
  height: 550px;
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.course-content {
  display: inline-block;
  width: 70%;
  background-color: transparent;
  height: 100%;
  box-sizing: border-box;
}

.course-weeks {
  display: inline-block;
  width: 27%;
  top: 0;
  padding: 0;
  background-color: transparent;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.week {
  margin-bottom: 1%;
}

.week button {
  display: block;
  width: 100%;
  background-color: #bca37f96;
  color: #113946;
  margin-top: 1%;
  border: 1px solid transparent;
  border-radius: 10pt;
}

.week button:hover {
  background-color: #ead7bb;
  color: #113946;
  border: 1px solid #113946;
  cursor: pointer;
}

.button-week {
  font-size: large;
  font-weight: bold;
  padding: 2%;
}

.lesson {
  padding: 2%;

  background-color: #bca37f96;
  color: #113946;
  margin-top: 1%;
  border: 1px solid transparent;
  border-radius: 10pt;
  text-align: center;
  display: grid;
  grid-template-columns: 15% 85%;
  vertical-align: middle;
}

.btnLesson {
  background-color: transparent;
  border: 1px solid #a38d6e;
  border-radius: 10pt;
  color: #113946;
  padding: 3px 10px;
}

.btnLesson:hover {
  cursor: pointer;
  background-color: #ead7bbb1;
}

/*CHECKBOX*/
.checkbox-wrapper-39 *,
.checkbox-wrapper-39 *::before,
.checkbox-wrapper-39 *::after {
  box-sizing: border-box;
}

.checkbox-wrapper-39 label {
  /* display: block; */
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.checkbox-wrapper-39 input {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-39 input:checked ~ .checkbox {
  transform: rotate(45deg);
  width: 14px;
  margin-left: 12px;
  border-color: #113946;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.checkbox-wrapper-39 .checkbox {
  display: block;
  width: inherit;
  height: inherit;
  border: 3px solid #434343;
  border-radius: 6px;
  transition: all 0.375s;
}

.btnX {
  color: #113946;
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 300ms;
  padding: 2px 8px;
  font-size: larger;
}

.btnX:hover {
  background-color: #ead7bb;
  color: #113946;
  border: 1px solid #113946;
  border-radius: 15pt;
  cursor: pointer;
}

.weekCourse1 {
  position: relative;
}

.card-title:hover {
  cursor: pointer;
  color: #ead7bb;
}

.ct:hover {
  cursor: default;
}

.course-description {
  text-align: left;
  width: 80%;
  /* padding-left: 5rem; */
  box-sizing: border-box;
}
.grid-course {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 10pt;
  margin-bottom: 10pt;
}
#myVideo {
  width: 100%; /* Puno zauzimanje širine div-a */
  height: 100%; /* Automatsko prilagođavanje visine proporcionalno širini */
}

.materialText {
  display: flex;
  color: #113946;
  text-align: center;
  font-size: 25pt;
  height: 100%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

::selection {
  background-color: #bca37f;
  color: #113946;
}

.popularCourse {
  border-radius: 15pt;
  width: 35%;
  background-color: #113946a2;
  border: 1px solid #113946a2;
  color: #fff2d8;
  padding: 5px 0;
  position: absolute;
  bottom: 10pt;
}

.popularCourse:hover {
  cursor: pointer;
  background-color: #19495973;
}

.moreFilter {
  background-color: #ead7bb;
  border: 1px solid transparent;
  border-radius: 15pt;
  padding: 0.2rem;
  font-size: 15pt;
  font-weight: bold;
  position: relative;
}

.moreFilter:hover {
  border: 1px solid transparent;
  border-radius: 15pt;
  padding: 0.2rem;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 7%;
  /* place-items: center; */
}

.modal-content {
  background-color: #fefefebe;
  margin: auto;

  /* padding: 20px; */
  border: 1px solid #888;
  height: auto;
  width: 50%;
  border-radius: 25pt;
  backdrop-filter: blur(10px);
}

.modal-header {
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  background-color: #113946a2;
  border-radius: 25pt;
  text-align: center;
}

.modal-title {
  margin-bottom: 0;
}

.modal-body {
  background-color: transparent;
  text-align: center;
  padding: 1rem;
}

.modal-footer {
  /* backdrop-filter: blur(10px); */

  padding: 1rem;
  border-top: 1px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border-radius: 0 0 25pt 25pt;
}

.btnn-primary {
  background-color: #113946a2;
  border: 1px solid #113946a2;
  color: #fff2d8;
}
.btnn-secondary {
  background-color: #bca37f96;
  border: 1px solid #bca37f96;
  color: #113946;
}
.btnn-primary,
.btnn-secondary {
  border-radius: 15pt;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  width: 25%;
}

.btnn-primary:focus,
.btnn-primary.focus {
  box-shadow: none !important;
  background-color: #bca37f;
  color: #113946;
}
.btn-close:hover,
.btn-savee:hover {
  cursor: pointer;
}

#more-filter {
  width: 100%;
  background-color: #ead7bbaa;
  font-size: 12pt;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.more-inp {
  padding: 0;
  margin: 0;
  text-align: center;
}

.modal-filter {
  background-color: #fefefebe;
  margin: auto;
  border: 1px solid #888;
  height: auto;
  width: 50%;
  border-radius: 25pt;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.durationInWeeks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}
.buttonsFilters {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.buttonsFilters > button {
  background-color: #ead7bb;
  padding: 10px;
  border-radius: 23px;
  border: 1px solid transparent;
  width: 26%;
}
.buttonsFilters > button:hover {
  /* background-color: #113946a3;
  padding: 20px;
  border-radius: 23px; */
  cursor: pointer;
}
/*RANGE*/
.range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* margin: 35% auto; */
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  /* align-items: center; */
}

.sliders_control {
  /* position: relative; */
  min-height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.form_control {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #635a5a;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

.form_control_container__time__input {
  color: #8a8383;
  width: 15%;
  height: 30px;
  font-size: 20px;
  border: 1px solid darkblue;
}

.form_control_container__time__input::-webkit-inner-spin-button,
.form_control_container__time__input::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 80%;
  position: absolute;
  background-color: #c6c6c6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}
/*-----------------------------*/

/* ELEMENTI U MODALU */
.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.star {
  font-size: 2em;
  color: #ccc;
}

.star.filled {
  color: #f39c12;
}

.starr,
.staar {
  font-size: 2em;
  color: #ccc;
}

.starr.filled,
.staar.filled {
  color: #f39c12;
}

.category {
  color: #113946;
}
.price {
  color: #1139468a;
}
.markk {
  color: #f39c12;
  margin: 0;
}

.markDiv > p {
  margin: 0;
  color: #f39c12;

  margin-top: 5pt;
}
.modalbodytop {
  border-bottom: 1px dotted #113946;
}
.modalbodybottom {
  margin-top: 5pt;
  border-radius: 15pt;
  padding: 7px;
  border: 1px solid #113946;
}
.modalbodybody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 7pt;
}

/*DODAVANJE KURSA*/
.fileDiv {
  vertical-align: middle;
  padding: 0;
}
#weekCourse1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*MODAL ZA POTVRDU UPISA*/
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.innerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Modal Content/Box */
.modal-content1 {
  background-color: #f9dbaecb;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 24px;
  border: 1px solid #bca37f;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 200px;
  border-radius: 15pt;
}

/* The Close Button */
.close1 {
  color: #113946;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popularCourse1 {
  border-radius: 15pt;
  width: 25%;
  background-color: #113946a2;
  border: 1px solid #113946a2;
  color: #fff2d8;
  padding: 5px 0;
  bottom: 10pt;
}
.popularCourse1:hover {
  cursor: pointer;
  background-color: #19495973;
}

::selection {
  background-color: #bca37f;
  color: #113946;
}

.descLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
}
.overviewButton,
.reviewButton {
  text-decoration: none;
  color: #113946;
  font-size: 20pt;
  margin-right: 10pt;
  /* margin: 10pt; */
}

/* COURSE DETAILS */
#title-course {
  /* display: block; */
  font-size: 30pt;
  font-weight: bold;
}
#subtitle-course {
  font-size: 21pt;
}

#category-course {
  font-size: 15pt;
  color: #1e6f8a;
}
.header-course {
  border: 1px solid #fff2d8af;
  border-radius: 15pt;
  padding: 0 5pt;
  width: 100%;
  text-align: center;
  background-color: #113946a2;
}
.markdiv-course {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-course,
.third-course,
.fourth-course {
  text-align: center;
}
.third-course {
  padding-top: 5pt;
  border-left: 1px solid #105027;
  border-right: 1px solid #105027;
}
/* 
#price-course {
  color: #235837;
  font-weight: 500;
} */

.addReview {
  border-radius: 15pt;
  width: 25%;
  background-color: #113946a2;
  border: 1px solid #113946a2;
  color: #fff2d8;
  padding: 5px 0;
  bottom: 10pt;
}
.addReview:hover {
  cursor: pointer;
  background-color: #19495973;
}

.course-reviews {
  margin-top: 10pt;
  margin-bottom: 10pt;
}
.gridreviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20pt;
}
.leftreview,
.rightreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightreview {
  justify-content: space-evenly;
}
/* RATING */
.rating-container {
  direction: rtl; /* Postavljanje zvezdica s desna na levo */
  font-size: 2rem; /* Veličina zvezdica */
  cursor: pointer; /* Promena kursora na pointer */
}

.starR {
  color: gray; /* Boja za neaktivne zvezdice */
}

.starR:hover,
.starR:hover ~ .starR {
  color: gold; /* Boja zvezdica pri hoveru */
}

.starR.active,
.starR.active ~ .starR {
  color: gold; /* Boja aktivnih zvezdica */
}

#textareaid {
  width: 100%; /* Podesite širinu po potrebi, npr. 100%, 50%, ili konkretna vrednost kao 300px */
  height: 150px; /* Podesite visinu po potrebi */
  padding: 10px; /* Unutrašnji razmak */
  border: 1px solid #ccc; /* Granica */
  border-radius: 4px; /* Zaobljeni uglovi */
  box-sizing: border-box; /* Uključi padding i border u ukupnu veličinu */
  font-size: 16px; /* Veličina fonta */
  resize: vertical; /* Omogućava samo vertikalno menjanje veličine */
}
.inputReview {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#submitreview {
  margin-top: 5%;
  width: 90%;
}

/*PROGRESS BAR*/
.progress-bar__wrapper {
  position: relative;
}
.progress-bar__value {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0b2932;
}
progress {
  width: 100%;
  height: 20px;
  border-radius: 50px;
  background-color: #eee;
  transition: width 300ms ease;
}
progress[value]::-webkit-progress-bar {
  width: 100%;
  height: 20px;
  border-radius: 50px;
  background-color: #eee;
  transition: width 300ms ease;
}
progress[value]::-webkit-progress-value {
  width: 0;
  border-radius: 50px;
  background-color: #8aa36e;
  transition: width 300ms ease;
}

.coursePercentage {
  margin-top: 2%;
}

#modalHeader {
  background-size: 100% 250%;
  background-position: center;
}

.courseCardTitle,
.courseCardSubtitle {
  text-wrap: wrap;
}

@media (max-width: 768px) {
  /* .right {
    position: static;
    margin-top: 10px;
  } */

  .nav-menu {
    font-size: initial;
    padding: 5px 10px;
  }
  .show-menu {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .app-name {
    font-size: 16pt;
  }

  .logo {
    width: 80px;
    height: 80px;
    margin: 10px;
  }

  .right-menu {
    width: 50%;
    padding: 10%;
    height: 100vh;
    z-index: 41;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .right-menu p {
    font-size: 16px;
  }

  .courses-list {
    padding: 2%;
    margin-bottom: 7%;
  }

  .card {
    margin-bottom: 20px;
  }

  ::selection {
    background-color: #bca37f;
    color: #113946;
  }
}
