@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #113946;

  background: url("back3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}
.contain {
  text-align: center;
  position: relative;
  width: 100%;
  /* margin-top: 5%; */
}

.nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 99;
  border-bottom: 1px solid #113946;
  background-image: linear-gradient(to top, #113946, 3%, transparent);
}
.logo2 {
  display: inline;
  width: 3.4em;
  height: fit-content;
  margin-bottom: -8px;
  filter: hue-rotate(-180deg);
}

.logoClass:hover {
  cursor: pointer;
}
.logo {
  width: 100px;
  height: 100px;
  margin: 40px;
  position: relative;
  top: 35px;
  filter: hue-rotate(180deg);
}

.app-name {
  display: inline;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 18pt;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-left: 0.5em;
  color: #113946;
}
.right {
  position: absolute;
  right: 1%;
  color: #bca37f;
}

.user {
  display: inline-block;
}
.user:hover {
  cursor: pointer;
}

.nav-menu {
  background-color: transparent;
  border-color: transparent;
  color: #bca37f;
  font-size: larger;
}

/* USER  */
.user-content {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  width: 100%;
  height: 60vh;
  justify-content: space-around;
  /* padding-left: 4%; */
}
/*FIXME
POPRAVITI MARGINE I PADDING, NESTO NE VALJA
*/

aside.left {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-content: flex-start; */
  background-color: #fff2d837;
  backdrop-filter: blur(5px);
  border-radius: 16px;
  border: 1px solid #113946;
  /* margin-left: 10px; */
  box-sizing: border-box;
}
.user-photo {
  width: 250px;
  height: 250px;
}
aside.rright {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff2d837;
  backdrop-filter: blur(5px);
  border-radius: 16px;
  border: 1px solid #113946;
  /* margin-left: 10px; */
  box-sizing: border-box;
  color: #113946;
}

.user:hover,
.nav-menu:hover {
  cursor: pointer;
  color: #fff2d8;
}

.show-menu {
  display: none;
}

.right-menu {
  position: fixed;
  right: 0;
  z-index: 21;
  background-color: #11394695;
  backdrop-filter: blur(7px);
  height: 100vh;
  width: 15%;
  top: 0%;
  padding: 5% 3%;
  color: #ead7bb;
  text-align: left;
  bottom: 0;
  box-sizing: border-box;
}

.right-menu p {
  transition: all 400ms;
  margin: 16px 0;
}

.right-menu p:hover {
  font-size: large;
  text-decoration: none;
  text-shadow: 10vh;
  cursor: pointer;
  color: #fff2d8;
}

/* Dodati media query za veličinu ekrana manju od 768px (za telefone) */
@media only screen and (max-width: 767px) {
  /* Postavke CSS-a za telefone */
  .contain {
    margin-top: 10%; /* Povećati margin na vrhu za telefone */
  }
  .logo {
    width: 80px; /* Smanjiti veličinu loga za telefone */
    height: 80px;
    margin: 20px; /* Smanjiti margin za telefone */
  }
  .app-name {
    font-size: 14pt; /* Smanjiti veličinu fonta za naziv aplikacije za telefone */
  }
  .user-photo {
    width: 150px; /* Smanjiti veličinu korisničke slike za telefone */
    height: 150px;
  }
  aside.left,
  aside.rright {
    width: 90%; /* Povećati širinu bočnih sekcija za telefone */
    margin: 20px auto; /* Postaviti margin na auto za centriranje bočnih sekcija na telefone */
  }
  .right-menu {
    width: 100%; /* Promeniti širinu bočnog menija za telefone */
    padding: 10% 5%; /* Povećati padding bočnog menija za telefone */
  }
}

/* Dodati media query za veličinu ekrana između 768px i 1200px (za laptop) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  /* Postavke CSS-a za laptop */
  .contain {
    margin-top: 8%; /* Prilagoditi margin na vrhu za laptop */
  }
  .logo {
    width: 100px; /* Prilagoditi veličinu loga za laptop */
    height: 100px;
    margin: 30px; /* Prilagoditi margin za laptop */
  }
  .app-name {
    font-size: 16pt; /* Prilagoditi veličinu fonta za naziv aplikacije za laptop */
  }
  aside.left,
  aside.rright {
    width: 45%; /* Prilagoditi širinu bočnih sekcija za laptop */
    margin: 20px; /* Postaviti margin za bočne sekcije za laptop */
  }
  .right-menu {
    width: 15%; /* Vratiti širinu bočnog menija za laptop */
    padding: 5% 3%; /* Vratiti padding bočnog menija za laptop */
  }
}
