@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

/* BOJE 

#113946 
#BCA37F
#EAD7BB
#FFF2D8



*/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #113946;
}
.contain {
  background: url("back3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 440px;
  height: auto;
  min-height: 400px;
  border: 1px solid #bca37f;
  border-radius: 16px;
  backdrop-filter: blur(15px);
}
.card {
  width: 100%;
  height: 80%;
  position: relative;
  margin: 0;
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.form-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  width: 90%;
  box-sizing: border-box;
  border-radius: 4px;
}
.form-group > input {
  text-align: left;
}
.name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 19px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  width: 90%;
  box-sizing: border-box;
  border-radius: 4px;
}

.form-style {
  padding-left: 55px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #ead7bb;
  background-color: #113946;
  border: none;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.input-icon {
  position: absolute;
  top: 0;
  left: 12px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  text-align: left;
  color: #ead7bb;
  background-color: transparent;
  transform: rotate(0deg);
  transition: color 0.4s ease-in-out, transform 0.4s ease-out;
}
.last-name-icon {
  left: 55%;
}
.logo {
  width: 100px;
  height: 100px;
  filter: hue-rotate(180deg);
}
.form-group-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  width: 40%;
  border-radius: 4px;
  background-color: #113946;
  transition: background-color 0.8s ease-out;
  margin-top: 25px;
}

.btn {
  font-size: 13px;
  height: 40px;
  width: 100%;
  line-height: 22px;
  text-align: center;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 30px;
  letter-spacing: 1px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #ead7bb;
  transition: color 0.8s ease-out;
}
.user-type {
  padding-left: 55px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.5px;
  outline: none;
  color: #ead7bb;
  background-color: #113946;
  border: none;
  vertical-align: middle;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3px;
  position: relative;
  text-align: center;
  margin: 10px;
  width: 90%;
  box-sizing: border-box;
  border-radius: 4px;
}
.user-type label {
  box-sizing: border-box;
  height: 40px;
}

.form-group-btn .input-icon {
  transform: rotate(0deg);
  transition: transform 0.8s ease-out, color 0.8s ease-out;
}

.form-group-btn:hover .btn {
  background-color: #ead7bb;
  color: #113946;
}

.form-group-btn:hover .input-icon {
  transform: rotate(50deg);
  color: #113946;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="radio"] {
  display: none;
}
.labela {
  border: 1px solid #ead7bb;
  background-color: #113946;
  border-radius: 6px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 5px;
  transition: border-style 0.5s ease-in-out;
}
.labela:hover {
  border-style: dashed;
}

::selection {
  background-color: #bca37f;
  color: #113946;
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
.h3 {
  cursor: default;
  transition: color 0.5s ease-in-out;
}
.h3:hover {
  animation: scaling 0.5s ease forwards;
  color: #bca37f;
}
.nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 99;
  border-bottom: 1px solid #113946;
  background-image: linear-gradient(to top, #113946, 3%, transparent);
}
.logo2 {
  display: inline;
  width: 3.4em;
  height: fit-content;
  margin-bottom: -8px;
  filter: hue-rotate(180deg);
}

.app-name {
  display: inline;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 18pt;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-left: 0.5em;
  color: #113946;
}

.app-name:hover {
  cursor: default;
}

/*dio za ime i prezime*/
.part1 input::placeholder,
.part2 input::placeholder {
  color: #ead7bb;
  transition: color 0.4s ease-in-out;
}
.part1:hover input::placeholder,
.part2:hover input::placeholder {
  color: #113946;
}

.part1,
.part2 {
  color: #ead7bb;
  border-radius: 4px;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
.part1:hover,
.part2:hover {
  color: #113946;
  background-color: #ead7bb;
}

.part1 .input-icon,
.part2 .input-icon {
  color: #ead7bb;
  transform: rotate(0deg);
  transition: color 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.part1:hover .input-icon,
.part2:hover .input-icon {
  color: #113946;
  transform: rotate(50deg);
}
.part1:hover input,
.part2:hover input {
  background-color: #ead7bb;
  color: #113946;
}

/* dio za form-group  */
.form-group:hover .input-icon {
  color: #113946;
  transform: rotate(50deg);
}
.form-group:hover .form-style {
  color: #113946;
  background-color: #ead7bb;
}
.form-group:hover .form-style::placeholder {
  color: #113946;
}
.form-style::placeholder {
  color: #ead7bb;
}

/* dodavanje kursa */

.new-course {
  text-align: center;
  position: absolute;
  top: 5em;
}

select option:hover {
  color: #113946;
  background-color: #ead7bb;
}

.week-material-btn:hover {
  background-color: #ead7bb;
  color: #113946;
  cursor: copy;
}

.week-material-btn {
  display: block;
  color: #ead7bb;
  width: 100%;
  margin: 0;
  height: 40px;
  text-align: left;
  padding-left: 55px;
}

#highlights ::placeholder {
  padding-left: 55px;
  vertical-align: middle;
}

#highlights {
  display: block;
  margin: 0;
  padding: 0;
  resize: none;
  height: 100%;
  padding-left: 0.3em;
  margin-left: 1em;
}

.fileDiv {
  background-color: transparent;
  color: #113946;
  width: 100%;
  text-align: center;
  padding-left: 2em;
}

.fileDiv:hover {
  background-color: transparent;
  color: #113946;
}

.weekCourse1 {
  margin: 2em;
  padding: 2em;
  border: 1px dashed #113946;
  backdrop-filter: blur(15px);
}

.material-added-notification {
  border: 1px solid #113946;
  color: #113946;
  background-color: #ead7bb;
  margin: 3% 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
